@model IEnumerable<XdUniversity.ViewModels.EnrollmentDateGroup>

@{ 
    ViewBag.Title = "学生统计";
}
<h2>学生统计</h2>
<table>
    <tr>
        <th>
            注册日期
        </th>
        <th>
            学生数
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>